parameters:
    level: 8
    bootstrapFiles:
        - Config/bootstrap_test.php
        - Config/bootstrap.php
    scanDirectories:
        - ApplicationService/
        - Domain/
        - Infrastructure/
        # どうしても CakePHP 本体のクラスが読み込めないので scan 対象に指定（ bootstrap.php で読み込みたい）
        - Vendor/cakephp/cakephp/lib/Cake
    paths:
        - ApplicationService/
        - Console/
        - Controller/
        - Domain/
        - Infrastructure/
        - Model/
        - View/
    excludePaths:
        - Console/cake.php
        - Controller/PagesController.php
    ignoreErrors:
        # FlashComponent でマジックメソッドとして呼び出せるため、無視する
        - '#Call to an undefined method FlashComponent::success\(\).#'
        - '#Call to an undefined method FlashComponent::error\(\).#'
